### Load new and old .sql dump

In [44]:
# old = '/Users/Lu/dumps/Dump20160330.sql'
# new = '/Users/Lu/dumps/Dump20160330.sql'
old = 'D:/Baylor/SoftwareData.sql'
new = 'D:/Baylor/SoftwareData.sql'

### Load packages

In [45]:
import pymysql
pymysql.install_as_MySQLdb()
import MySQLdb

### Load sql magic

In [46]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

### Connect to local server

In [33]:
#%sql mysql://root:ruili@localhost

In [48]:
db = MySQLdb.connect(host="localhost", port=3306, user="root", passwd="ruili")#, db="softwaredata")

### Create empty database first

In [49]:
%sql CREATE DATABASE IF NOT EXISTS softwaredata # need to create database first before loading .sql backup

1 rows affected.

[]

### Load sql dump file to create database

In [50]:
# Open and read the file as a single buffer
fd = open(old, 'r')
sqlFile = fd.read()
fd.close()

# all SQL commands (split on ';')
sqlCommands = sqlFile.split(';')

# Execute every command from the input file
for command in sqlCommands:
    # This will skip and report errors
    # For example, if the tables do not yet exist, this will skip over
    # the DROP TABLE commands
    try:
        cursor.execute(command)
    except OperationalError, msg:
        print "Command skipped: ", msg

In [36]:
#load .sql from command line wrong attemps:
#%sql mysqldump softwaredata >/Users/Lu/dumps/Dump20160330.sql
#%sql /Users/Lu/dumps/Dump20160330.sql
#%sql softwaredata < /Users/Lu/dumps/Dump20160330.sql
#%sql mysql -u root softwaredata </Users/Lu/dumps/Dump20160330.sql
#%sql source old

In [43]:
# This method does not work
# cursor = db.cursor()
# for line in open(old):
#     cursor.execute(line)

In [42]:
# This method works in Mac
# #http://stackoverflow.com/questions/4408714/execute-sql-file-with-python-mysqldb
# from subprocess import Popen, PIPE
# process = Popen(['mysql', 'softwaredata', '-u', 'root','-p','ruili'],
#                 stdout=PIPE, stdin=PIPE)
# output=process.communicate('source ' + old)

### Create empty data base, rename imagescollection folder to a different name and save to the database ---  patient data from previous collection

In [51]:
%sql create database IF NOT EXISTS Images

1 rows affected.

[]

In [52]:
%sql DROP TABLE IF EXISTS Images.old_img
%sql CREATE TABLE Images.old_img SELECT IMCOLLID, SERID, ImageCollFolderName FROM softwaredata.imagescollection

0 rows affected.
68 rows affected.

[]

### Load new .sql backup file

In [57]:
# This works for Mac
# #http://stackoverflow.com/questions/4408714/execute-sql-file-with-python-mysqldb
# from subprocess import Popen, PIPE
# process = Popen(['mysql', 'softwaredata', '-u', 'root','-p','ruili'],
#                 stdout=PIPE, stdin=PIPE)
# output=process.communicate('source ' + new)

In [53]:
# Open and read the file as a single buffer
fd = open(new, 'r')
sqlFile = fd.read()
fd.close()

# all SQL commands (split on ';')
sqlCommands = sqlFile.split(';')

# Execute every command from the input file
for command in sqlCommands:
    # This will skip and report errors
    # For example, if the tables do not yet exist, this will skip over
    # the DROP TABLE commands
    try:
        cursor.execute(command)
    except OperationalError, msg:
        print "Command skipped: ", msg

In [54]:
%sql DROP TABLE IF EXISTS Images.new_img
%sql CREATE TABLE Images.new_img SELECT IMCOLLID, SERID, ImageCollFolderName FROM softwaredata.imagescollection

0 rows affected.
68 rows affected.

C:\Users\Valued Customer\Anaconda2\lib\site-packages\pymysql\cursors.py:158: Warning: Unknown table 'images.new_img'
  result = self._query(query)

[]

### Compare two tables and extract list of new files

In [55]:
%sql use Images

0 rows affected.

[]

In [60]:
# commandline: sudo rm /tmp/oldImgColl.csv 
#%sql select new_img.ImageCollFolderName from new_img left join old_img on new_img.ImageCollFolderName = old_img.ImageCollFolderName where new_img.ImageCollFolderName is NULL INTO OUTFILE '/tmp/oldImgColl.csv' 
%sql select new_img.ImageCollFolderName from new_img left join old_img on new_img.ImageCollFolderName = old_img.ImageCollFolderName where new_img.ImageCollFolderName is NULL INTO OUTFILE 'D:/Baylor/images.csv'

0 rows affected.

[]

In [59]:
%sql CREATE TABLE diff_img select new_img.ImageCollFolderName from new_img left join old_img on new_img.ImageCollFolderName = old_img.ImageCollFolderName where new_img.ImageCollFolderName is NULL  
# commandline Mac: echo "select * from diff_img" | mysql --user=root Images > ~/Ipython/images.csv
# commandline windows: echo "select * from diff_img" | mysql --user=root --password=ruili Images > D:/Baylor/images.csv

SyntaxError: invalid syntax (<ipython-input-59-8c2bed9b610c>, line 4)